{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h2>Account Details</h2>
    <table class="table table-bordered">
        <tr>
            <th>Account ID</th>
            <td>{{ account.account_id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ account.type }}</td>
        </tr>
        {% if  account.type != 'custody'%}
            <tr>
            <th>Balance</th>
            <td>{{ balance }} EUR</td>
        </tr>
        {% endif %}
    </table>

    {% if account.type == 'checking' %}
        <a href="{% url 'accounts:new_transaction' account.account_id %}" class="btn btn-primary">New Transaction</a>
        <a href="{% url 'accounts:history' account.account_id %}" class="btn btn-secondary">Transaction History</a>
    {% elif account.type == 'custody' %}
        <a href="{% url 'stock_trading:stock_market' account.account_id%}" class="btn btn-primary">Stock Market</a>
        <a href="{% url 'stock_trading:history' account.account_id %}" class="btn btn-secondary">Stock Transaction History</a>
    {% else %}
        <a href="{% url 'accounts:savings' account.account_id %}" class="btn btn-primary">Deposit/Withdraw Savings</a>
    {% endif %}

    <a href="{% url 'customers:dashboard' %}" class="btn btn-secondary">Back to Customer Dashboard</a>
    {% if account.type == 'checking' %}
        <div>
            <a href="{% url 'accounts:new_atm_transaction' account.account_id %}" class="btn btn-warning mt-5">Mock ATM</a>
        </div>
    {% endif %}
    {% else %}
    <p>
        Please <a href="{% url 'customers:customers_login' %}">log in</a>.
    </p>
    {% endif %}
</div>
{% endblock %}
