{% extends "core/base.html" %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h2>Savings Account</h2>
        <p><strong>Savings Account Balance:</strong> {{ balance }} EUR</p>
        <p><strong>Available Funds:</strong> {{ available_funds }} EUR</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'accounts:account_detail' account_id %}" class="btn btn-secondary">Cancel</a>
    </form>
    {% else %}
    <p>
        Please <a href="{% url 'customers:customers_login' %}">log in</a>.
    </p>
    {% endif %}
</div>
{% endblock %}
