{% extends 'core/base.html' %}

{% block content %}
<div class="container text-center mt-5">
    {% if success %}
    <div class="alert alert-success">
        <h1 class="display-4">
            <i class="bi bi-check-circle-fill text-success"></i>
        </h1>
        <p class="lead">{{ message }}</p>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <h1 class="display-4">
            <i class="bi bi-x-circle-fill text-danger"></i>
        </h1>
        <p class="lead">{{ message }}</p>
    </div>
    {% endif %}
    {% if action == "buy" %}
        <a href="{% url 'stock_trading:buy_stock' account_id=account_id stock_id=stock.stockID %}" class="btn btn-primary">OK</a>
    {% elif action == "sell" %}
        <a href="{% url 'stock_trading:sell_stock' account_id=account_id stock_id=stock.stockID %}" class="btn btn-primary">OK</a>
    {% else %}
        <a href="{% url 'stock_trading:stock_market' account_id=account_id %}" class="btn btn-secondary">Back to Dashboard</a>
    {% endif %}
</div>
{% endblock %}
